@font-face {
  font-family: 'Museo Sans';
  src: local("Museo Sans Cyrl"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: local("Museo Sans Cyrl"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: local("Museo Sans Cyrl"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: local("Museo Sans Cyrl"), local("MuseoSansCyrl"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: local("Museo Sans Cyrl"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Museo Sans', sans-serif;
}

ul, li, a {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  padding: 0 .5vw;
  width: 82.105vw;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/fon_c.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header::before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 45.684vw;
  height: 71vh;
  background: url(../img/Lady.png) no-repeat;
  background-size: 46vw;
  z-index: 1;
}

.header__top {
  height: 9.105vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrap img {
  margin-right: 3vw;
  width: auto;
  height: 6.737vw;
}

.header__logo-wrap p {
  width: 9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  color: #282828c2;
  font-weight: 300;
  font-size: 0.737vw;
  font-size: .7vw;
  line-height: 1.5;
}

.header__iformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__information--phone-img {
  width: 2.105vw;
  height: 2.105vw;
  border-radius: 5vw;
  background-color: #fff;
  position: relative;
  margin-right: .8vw;
}

.header__information--phone-img:before {
  content: "";
  position: absolute;
  width: 0.842vw;
  height: 0.842vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background: url(../img/icon/call.png) no-repeat;
}

.header__information-wrap a {
  display: inline-block;
  margin-top: .2vw;
  font-size: 1.263vw;
  text-decoration: none;
  font-weight: 500;
  color: #282828d7;
}

.callback__now {
  padding-left: .9vw;
  font-size: 0.632vw;
  font-weight: 500;
  letter-spacing: .03vw;
  position: relative;
}

.callback__now:before {
  content: "";
  width: 0.263vw;
  height: 0.263vw;
  top: 50%;
  left: 0.211vw;
  position: absolute;
  border-radius: 1.579vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #27b24b;
}

.header__information-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__map {
  margin-right: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__map img {
  width: 6.5vw;
  height: auto;
  margin-right: .4vw;
}

.map__text-top {
  color: #282828;
  font-weight: 700;
  font-size: 0.842vw;
}

.map__text-bottom {
  font-size: 0.842vw;
  margin-bottom: .5vw;
}

.look__for-map {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.632vw;
  font-weight: 500;
  color: #ff6078;
  position: relative;
}

.look__for-map:before {
  content: "";
  position: absolute;
  bottom: -0.263vw;
  left: 0vw;
  width: 6.4vw;
  height: 0.053vw;
  border-bottom: 0.053vw dashed #ff6078;
}

.header__timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__timetable-img {
  margin-right: .8vw;
  width: 2.105vw;
  height: 2.105vw;
  border-radius: 5vw;
  background-color: #fff;
  position: relative;
}

.header__timetable-text {
  font-weight: 300;
  font-size: 0.842vw;
}

.header__timetable-text span {
  font-weight: 700;
  margin-left: 0.316vw;
}

.header__timetable-img:before {
  content: "";
  position: absolute;
  width: 0.842vw;
  height: 0.842vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background: url(../img/icon/time.png) no-repeat;
}

.btn {
  padding: 1.316vw 1.316vw 1.316vw 3.053vw;
  border-radius: 1.579vw;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0.158vw 0 0px rgba(0, 0, 0, 0.082);
          box-shadow: 0 0.158vw 0 0px rgba(0, 0, 0, 0.082);
  outline: none;
  cursor: pointer;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.btn p {
  font-size: 0.737vw;
  font-weight: 500;
  font-family: 'Museo Sans';
}

.btn__record {
  margin-right: 2vw;
  margin-left: 4vw;
  background-color: #fff;
  position: relative;
}

.btn__record:hover {
  background-color: #ff6078;
}

.btn__record:active {
  background-color: rgba(255, 255, 255, 0.63);
}

.btn__record:before {
  content: "";
  width: 1.053vw;
  height: 1.053vw;
  position: absolute;
  top: 50%;
  left: 8%;
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
  background: url(../img/icon/data.png) no-repeat;
}

.heaader__client-card {
  position: absolute;
  bottom: 4.737vw;
  left: 45.211vw;
  width: 9.211vw;
  height: 12.474vw;
}

.heaader__client-card img {
  width: 100%;
}

.nav {
  max-width: 100%;
  margin: 0 auto;
  padding: 1vw;
  background-color: #fff;
  border-radius: .3vw;
  position: relative;
  display: block;
  position: relative;
}

.nav__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(24, 8, 8, 0);
  border-radius: .3vw;
  z-index: 2;
}

.nav__wrap::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 65%;
  left: 50%;
  width: 95%;
  height: 1.579vw;
  border-radius: 0.263vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff86;
  z-index: -1;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.nav__link {
  text-align: center;
}

.one {
  width: 5.789vw;
}

.two {
  width: 15.421vw;
}

.three {
  width: 13.895vw;
}

.four {
  width: 11.368vw;
}

.five {
  width: 6.316vw;
}

.six {
  width: 12.526vw;
}

.seven {
  width: 4.737vw;
}

.eight {
  width: 6.526vw;
}

.nine {
  width: 5.789vw;
}

.nav li {
  max-width: 100%;
  display: inline-block;
}

.nav a {
  color: #282828;
  font-size: 0.789vw;
  font-weight: 300;
  letter-spacing: 0.75px;
  text-decoration: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.nav a:hover {
  text-shadow: 0 0 0.034vw #333, 0 0 0.034vw #333;
  font-weight: bold;
  position: relative;
}

.header__content {
  margin-top: 6.105vw;
  padding-left: 6.053vw;
}

.header__title {
  font-size: 0.421vw;
  width: 36.579vw;
}

.header__title h2 {
  font-size: 2.5vw;
  width: 36.579vw;
  line-height: 54px;
}

.header__title span {
  font-weight: 300;
}

.header__checklist {
  width: 36vw;
  padding: 3vw 0;
}

.header__checklist li {
  margin-bottom: 0.947vw;
  font-size: 0.947vw;
  font-weight: 400;
  list-style: none;
  padding-left: 2vw;
  position: relative;
  font-family: 'Museo Sans', sans-serif;
}

.header__checklist-check:last-child {
  margin-bottom: 0;
}

.header__checklist-check::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3%;
  width: 0.895vw;
  height: 0.895vw;
  border-radius: 1.263vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px 0px #ff000086;
          box-shadow: 0px 0px 3px 0px #ff000086;
  z-index: 1;
}

.header__checklist-check::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3%;
  width: 0.421vw;
  height: 0.421vw;
  border-radius: 1.263vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ff000086;
  -webkit-box-shadow: 0 0 0.158vw 0 #ff000086;
          box-shadow: 0 0 0.158vw 0 #ff000086;
  z-index: 2;
}

.btn__checklist {
  width: 19.947vw;
  height: 4.526vw;
  background-color: #f6a7aa;
  background: -webkit-gradient(linear, left bottom, left top, from(#f6a7aa), to(#fac1c3));
  background: linear-gradient(to top, #f6a7aa 0%, #fac1c3 100%);
  text-transform: uppercase;
  border-radius: 2.632vw;
  -webkit-box-shadow: 0 0.211vw 0 0 #d7747a, 0.158vw 0.158vw 0.684vw 0.053vw #d7747a;
          box-shadow: 0 0.211vw 0 0 #d7747a, 0.158vw 0.158vw 0.684vw 0.053vw #d7747a;
  position: relative;
}

.btn__checklist p {
  width: 10.737vw;
  font-weight: 700;
  color: #fff;
  top: 50%;
  left: 2.368vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  letter-spacing: 0.105vw;
  z-index: 3;
}

.btn__checklist::before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  border-radius: 2.632vw;
  z-index: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: -webkit-gradient(linear, left bottom, left top, from(#f6a7aa), to(#f79da0));
  background: linear-gradient(to top, #f6a7aa 0%, #f79da0 100%);
  opacity: 0;
}

.btn__checklist::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 65%;
  height: 3.684vw;
  width: 13.684vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/Branch.png) no-repeat;
  background-size: 100%;
  z-index: 1;
}

.btn__checklist:hover::before {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6a7aa), to(#f79da0));
  background: linear-gradient(to top, #f6a7aa 0%, #f79da0 100%);
  opacity: 1;
}

.btn__checklist:active::before {
  background: -webkit-gradient(linear, left bottom, left top, from(#f6a7aa), to(#f56368));
  background: linear-gradient(to top, #f6a7aa 0%, #f56368 100%);
  opacity: 1;
}
